In [1]:
from bs4 import BeautifulSoup
import requests
import json
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
def soup_from_url(url):
    page = requests.get(url)
    return BeautifulSoup(page.content, 'html.parser')

def get_json_ranks_dataframe(url, n):
    soup = soup_from_url(url)
    newDictionary=json.loads(str(soup))
    return pd.DataFrame.from_dict(newDictionary["data"]).head(n)

In [3]:
# urls directly to get the JSON files
url1 = "https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508356628355"
url2 = "https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json"

# dataframes with all ranks from JSON, 200 first positions
df1 = get_json_ranks_dataframe(url1,200)
df2 = get_json_ranks_dataframe(url2,200)

In [4]:
def get_missing_values_tu(url):
    soup = soup_from_url(url)
    
    def get_div_number(c):
        container = soup.find("div", { "class" : c })
        if not container:
            return np.nan
        num_str = container.find("div", {"class": "number"}).contents[0]
        num = ''.join([i for i in num_str if i.isdigit()])
        return num
    
    # get total faculty staff
    num_staff_total = get_div_number("total faculty")
    
    # get total international faculty staff
    num_staff_inter = get_div_number("inter faculty")
    
    # get total faculty student
    num_student_total = get_div_number("total student")
    
    # get total international faculty student
    num_student_inter = get_div_number("total inter")
    
    return [num_staff_total, num_staff_inter, num_student_total, num_student_inter, url]

# apparently it is not necessary for this website, I let it there for now
def get_missing_values_the(url):
    soup = soup_from_url(url)
    
    region = soup.find("meta",  property="og:locality")
    address = soup.find("meta", property="og:street_address")
    
    ret_val = ""
    if region:
        ret_val = region["content"]
    elif address:
        ret_val = address["content"].replace(',','').strip()
    else:
        ret_val = np.nan
        
    return [ret_val, url]

def get_missing(col, domain, urls, f):
    missing_values = pd.DataFrame(columns=col)
    for idx,url in enumerate(urls):
        miss_value = f(domain + url)
        missing_values.loc[idx] = miss_value
    return missing_values

In [5]:
df1_m = get_missing(['num_staff_total', 'num_staff_inter', 'num_student_total', 'num_student_inter', 'url'], 
           "https://www.topuniversities.com",
            df1.url,
            get_missing_values_tu)

#not necessary
#df2_m = get_missing(['region', 'url'],
#           "https://www.timeshighereducation.com",
#           df2.url,
#           get_missing_values_the)

In [6]:
# load mapping file Contries-Continent
mapping = pd.read_csv('Countries-Continents.csv')
mapping.columns = [['region', 'location']]

In [7]:
# concatenate with the missing values
top_uni = pd.concat([df1, df1_m], axis=1)
# not necessary
#high_educ = pd.concat([df2, df2_m], axis=1)

# use mapping to 
high_educ = pd.merge(df2, mapping, on='location')


top_uni_clean = top_uni[['title', 'rank_display', 'country', 'region',
                        'num_staff_total', 'num_staff_inter',
                         'num_student_total', 'num_student_inter']]

top_uni_clean.columns = ['name', 'rank_top', 'country', 'region',
                        'numb_staff_total', 'num_staff_inter',
                         'num_student_total', 'num_student_inter']

high_educ_clean = high_educ[['name', 'rank', 'location', 'region',
                             'stats_student_staff_ratio',
                             'stats_number_students', 'stats_pc_intl_students']]

high_educ_clean.columns = ['name', 'rank_high', 'country', 'region',
                        'numb_staff_total',
                         'num_student_total', 'num_student_inter']

top_uni_clean.rank_top = top_uni_clean.rank_top.apply(lambda x: x.replace('=', ''))
high_educ_clean.num_student_total = high_educ_clean.num_student_total.apply(lambda x: x.replace(',','') )
high_educ_clean.num_student_inter = high_educ_clean.num_student_inter.apply(lambda x: x.replace('%','') )
high_educ_clean.rank_high = high_educ_clean.rank_high.apply(lambda x: x.replace('=',''))

top_uni_clean = top_uni_clean.apply(pd.to_numeric, errors="ignore")
high_educ_clean = high_educ_clean.apply(pd.to_numeric, errors="ignore")

# change staff/student ratio to number of staff
# change international students percentage to the actual value
high_educ_clean.numb_staff_total =  (high_educ_clean.num_student_total / high_educ_clean.numb_staff_total).round()
high_educ_clean.num_student_inter = (high_educ_clean.num_student_inter * high_educ_clean.num_student_total).apply(lambda x : x/100).round()

In [8]:
pd.set_option('precision', 0)
concat_lists = pd.concat([top_uni_clean, high_educ_clean]).sort_values(['name'])
concat_lists

,country,name,num_staff_inter,num_student_inter,num_student_total,numb_staff_total,rank_high,rank_top,region
113,Finland,Aalto University,NaN,2549,12744,631,190,NaN,Europe
138,Finland,Aalto University,370,1831,12147,1257,NaN,137,Europe
114,Denmark,Aarhus University,NaN,3020,25167,1760,109,NaN,Europe
118,Denmark,Aarhus University,602,3762,26226,2316,NaN,119,Europe
170,Germany,Albert-Ludwigs-Universitaet Freiburg,413,3897,23214,1966,NaN,171,Europe
187,Italy,Alma Mater Studiorum - University of Bologna,153,4195,63399,2990,NaN,188,Europe
54,Australia,Australian National University,NaN,5595,15986,828,48,NaN,Oceania
119,Spain,Autonomous University of Barcelona,NaN,5169,32309,2505,147,NaN,Europe
80,United States,Boston University,379,7041,25662,3157,NaN,81,North America
52,United States,Brown University,379,1825,9251,1303,NaN,53,North America
3,United States,California Institute of Technology (Caltech),350,647,2255,953,NaN,4,North America
24,United Kingdom,Cardiff University,NaN,6288,24186,1792,162,NaN,Europe
136,United Kingdom,Cardiff University,705,6090,24565,2755,NaN,137,Europe
47,United States,Carnegie Mellon University,425,6385,13356,1342,NaN,47,North America
176,France,CentraleSupélec,137,1132,3877,529,NaN,177,Europe
132,Sweden,Chalmers University of Technology,336,1465,9257,1077,NaN,133,Europe
73,Germany,Charité - Universitätsmedizin Berlin,NaN,1223,6792,419,126,NaN,Europe
48,Hong Kong,City University of Hong Kong,1027,3273,9240,1349,NaN,49,Asia
17,United States,Columbia University,913,8105,25045,6189,NaN,18,North America
13,United States,Cornell University,970,5411,21904,2718,NaN,14,North America
168,United States,Dartmouth College,27,945,6224,939,NaN,169,North America
53,Netherlands,Delft University of Technology,701,4634,16527,1669,NaN,54,Europe
94,Netherlands,Delft University of Technology,NaN,4605,17057,870,63,NaN,Europe
21,United States,Duke University,226,2864,15320,2938,NaN,21,North America
11,United Kingdom,Durham University,NaN,4730,16310,1095,97,NaN,Europe
77,United Kingdom,Durham University,586,4690,16745,1539,NaN,78,Europe
9,Switzerland,ETH Zurich - Swiss Federal Institute of Techno...,1886,7563,19815,2477,NaN,10,Europe
31,Switzerland,ETH Zurich – Swiss Federal Institute of Techno...,NaN,7309,19233,1317,10,NaN,Europe
165,Germany,Eberhard Karls Universität Tübingen,796,3860,27366,3844,NaN,164,Europe
58,France,Ecole Polytechnique,259,924,3126,649,NaN,59,Europe
...,...,...,...,...,...,...,...,...,...
59,Australia,University of Western Australia,NaN,4697,18787,862,111,NaN,Oceania
54,United States,University of Wisconsin-Madison,1151,4920,38985,5722,NaN,55,North America
79,Germany,University of Würzburg,NaN,2028,22537,665,165,NaN,Europe
135,United Kingdom,University of York,636,3364,15999,1833,NaN,135,Europe
16,United Kingdom,University of York,NaN,4040,14962,991,137,NaN,Europe
36,Switzerland,University of Zurich,NaN,5273,26363,4468,136,NaN,Europe
73,Switzerland,University of Zurich,2617,5036,26065,4997,NaN,73,Europe
91,Belgium,Université Catholique de Louvain,NaN,4646,24451,647,129,NaN,Europe
92,Belgium,Université Libre de Bruxelles,NaN,8870,25343,584,175,NaN,Europe
130,France,Université Pierre et Marie Curie (UPMC),253,4213,24305,2273,NaN,131,Europe
152,Belgium,Université catholique de Louvain (UCL),406,4468,24277,1219,NaN,153,Europe
129,Canada,Université de Montréal,1037,9688,39112,2961,NaN,130,North America
82,Sweden,Uppsala University,NaN,2769,25174,1455,86,NaN,Europe
111,Sweden,Uppsala University,584,5198,25371,2567,NaN,112,Europe
97,Netherlands,Utrecht University,NaN,2207,31522,2074,68,NaN,Europe
108,Netherlands,Utrecht University,653,2771,31754,3067,NaN,109,Europe
184,Austria,Vienna University of Technology,172,5199,17479,706,NaN,182,Europe
103,Netherlands,Vrije Universiteit Amsterdam,NaN,1719,24554,1357,165,NaN,Europe
181,Belgium,Vrije Universiteit Brussel (VUB),515,1853,9284,1792,NaN,182,Europe
123,Netherlands,Wageningen University,323,3613,12695,2277,NaN,124,Europe
95,Netherlands,Wageningen University & Research,NaN,3575,12326,626,64,NaN,Europe
99,United States,Washington University in St. Louis,784,2706,13474,2699,NaN,100,North America
15,United States,Yale University,1708,2469,12402,4940,NaN,16,North America
105,South Korea,Yonsei University,290,3379,25903,3621,NaN,106,Asia
51,China,Zhejiang University,NaN,3003,50051,3550,177,NaN,Asia
86,China,Zhejiang University,1913,4625,40869,4507,NaN,87,Asia
110,France,École Normale Supérieure de Lyon,NaN,289,2221,261,182,NaN,Europe
156,France,École Normale Supérieure de Lyon,91,221,2020,382,NaN,157,Europe
107,France,École Polytechnique,NaN,1008,2799,549,115,NaN,Europe
32,Switzerland,École Polytechnique Fédérale de Lausanne,NaN,5460,9928,886,38,NaN,Europe